.card {
	display: flex;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
	/* max-width: 500px; */
}

.new-project {
	margin-bottom: 40px;
}

.tooltip-min {
	position: absolute;
	width: 140px;
	padding: 4px 12px;
	margin-left: calc(50%);
	margin-top: calc(-80%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #ffffff;
	background-color: #7b06db;
	border-radius: 12px;
	text-align: center;
	font-weight: 700;
	pointer-events: none;
}

.btn-timer {
	padding: 0;
	margin-left: 4px;
	border: none;
	background-color: transparent;
}

.select {
	text-align: center;
	color: black;
	width: 300px;
	background: transparent;
	margin-bottom: 20px;
}

.task {
	width: 250px;
	height: 100px;
	background: white;
	color: black;
	border-radius: 4%;
}
