#root {
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 0.25 rem; */
	text-align: center;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 100%;
	margin: 0 auto;
}

.page {
	padding: 40px 0 80px;
	min-height: 12rem;
	box-sizing: border-box;
}
